
a:hover {
    background-color: lawngreen;
}

body{

    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:sans-serif
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h1, h2, h3, p {
    text-align: center;

}
h3{
    text-decoration-line: underline
}

.education, .job{
    width:300px;
    margin: 0 auto;
    text-align:left;
}

.sports, .hobbies{
    width:300px;
    margin: 0 auto;
    text-align:left;
    list-style-type: none
}
.jobs{
    list-style-type: square
}
img {

    max-width: 100%;
    max-height: 100%;
}

.headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 350px;
}
table.projects{
    margin-left: auto;
    margin-right: auto;
    width: 20%

}

tr:nth-child(odd) {
    background-color:azure
}

tr:nth-child(even) {
    background-color:beige
}

.bat, .cs, .gsu, .phil{
    color: red;
    font-weight: bold
}

.page{
    border: 0;
    width: 85%;
    align-items: center
}